gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
matplotlib>=1.4.3
pandas>=0.19
ucimlrepo>=0.0.7
imbalanced-learn>=0.12.4
streamlit==1.39.0
scikit-learn==1.2.2
joblib==1.2.0
--use-pep517